body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flex-item{
    display: flex;
    margin-bottom: 150px;
}

.mission-color{
    color:#3DCFD3;
}

.click-style{
    text-decoration: none;
    background: linear-gradient(black,gray);
    padding:8px 25px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.top-align{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.top-align img {
    width: 80%;
    
}
.center-align{
    text-align: center;
}

.mission-one{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 60px white;
    border-radius: 10px;
    padding-left: 10px;
    background-color:#f65e5d;    
}
.mission-one img{
    width: 100%;
}

.mission-two{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 60px white;
    border-radius: 10px;
    padding-left: 10px;
    background-color:#ffbc47;
     
}

.mission-two img{
    width: 100%;
}

.mission-three{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 60px white;
    border-radius: 10px;
    padding-left: 10px;
    background-color:#40cee3;
     
}

.mission-three img{
    width: 100%;
}

#block-img{
    border-radius: 40px;
}