body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}

.mission-color{
    color:#3DCFD3;
}

.click-style{
    text-decoration: none;
    background: linear-gradient(black,rgba(0, 0, 0, 0.801));
    padding:8px 25px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.top-align{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.top-align img {
    width: 80%;
    
}