body{
    margin:0;
    font-family: 'Poppins', sans-serif;

}

.mission-color{
    color:yellowgreen;
}

.click-style{
    text-decoration: none;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.774),orange);
    padding:8px 25px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}